<div class="col-xs-10 col-xs-offset-1 page-content">
    <h2>New guitar</h2>

    <%= render "form.html", changeset: @changeset,
                            action: guitar_path(@conn, :create) %>

</div>
